@import '../mixins';

.indicator {
  display: flex;
  flex-direction: column;
  gap: 3.5px;

  &__value {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;

    @include mobile {
      font-weight: 400;
    }

    &_normal {
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
    }

    &_positive {
      color: #62B435;
    }

    &_neutral {
      color: #00000066;
    }

    &_negative {
      color: #F64747;
    }

    &_light-gray {
      color: #00000033;
    }

    &_dark-gray {
      color: #A1AAB2;
    }

    &_font-weight-600 {
      font-weight: 600;
    }
  }
}
