@import 'mixins';

.footer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 -24px;
  padding: 24px;
  background: #F0F1F266;

  @include mobile {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
  }

  &__more-text-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 2px 4px 12px 0 #00000014;
    cursor: pointer;
  }

  &__arrow {
    margin-bottom: 5px;
    padding: 3px;
    border: solid #000000;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);

    &_up {
      margin-bottom: -5px;
      transform: rotate(-135deg);
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include mobile {
      gap: 12px;
    }
  }

  &__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: #3498DB;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    color: #00000066;
  }

  &__text {
    font-weight: 600;
    color: #000000CC;
    font-size: 18px;
    line-height: 20px;

    @include mobile {
      font-size: 16px;
      line-height: 18px;
    }
  }
}
