.header {
  display: flex;
  justify-content: space-between;
  margin: 24px 24px 0;

  &__profile {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__name {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }

  &__caption {
    color: #00000066;
    font-size: 14px;
    line-height: 16px;
  }

  &__indicators {
    display: flex;
    align-items: end;
    gap: 12px;
  }
}
