@import '../mixins';

.coefficient {
  display: flex;
  align-items: center;
  gap: 12px;

  @include mobile {
    gap: 8px;
  }

  &__logo-container {
    width: 32px;
    height: 32px;
    padding: 9px 4px 9.5px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #103852;
  }

  &__logo {
    display: inline-block;
    width: 24px;
    height: 13.5px;
    background: url('../../images/logo.svg') no-repeat center / contain;
  }

  &__text {
    width: 81px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #333333;

    &::before {
      content: 'Коэффициент';
    }

    @include mobile {
      &::before {
        content: 'Кэф';
      }
    }
  }

  &__value {
    font-family: 'Futura', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #000000CC;

    @include mobile {
      font-size: 18px;
      line-height: 22px;
    }

    &::before {
      content: '3.20';
    }

    @include mobile {
      &::before {
        content: '20.15';
      }
    }
  }
}
